<div ibmGrid>
	<div ibmRow class="summary">
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection"></div>
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
			<svg class="bx--btn__icon" ibmIcon="currency--dollar" size="24"></svg> Spend 388K
		</div>
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
			<svg class="bx--btn__icon" ibmIcon="send--alt" size="24"></svg> Submitted Count 69
		</div>
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
			<svg class="bx--btn__icon" ibmIcon="shopping--cart" size="24"></svg> Supplier Count 9
		</div>
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
			<svg class="bx--btn__icon" ibmIcon="hourglass" size="24"></svg> Pending Approval 8
		</div>
	</div>
	<div>
		<div ibmCol [columnNumbers]="{'lg': 10, 'md': 10, 'sm': 3}" class="data-table">
			<fb-carbon-table
				[tableHeader]="tableHeader"
				[carbonTableModel]="carbonTableModel"
				[numberOfColumns]="7"
				[showPagination]="true"
				(tablePagination)="tablePagination($event)"
				(tableSort)="tableSort($event)"
				(tableSearch)="tableSearch($event)"
				(feedbackModify)="onFeedbackModify()"
			></fb-carbon-table>
		</div>
	</div>
</div>
