<div ibmGrid>
	<div ibmRow>
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
			<fb-table-filter
			(onUpdateFilter)="updateTableFilter()">
			</fb-table-filter>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 10, 'md': 10, 'sm': 3}" class="data-table">
			<fb-carbon-table
				[carbonTableModel]="carbonTableModel"
				[numberOfColumns]="7"
				[showPagination]="true"
				(tablePagination)="tablePagination($event)"
				(tableSort)="tableSort($event)"
				(tableSearch)="tableSearch($event)"
			></fb-carbon-table>
		</div>
	</div>
</div>


