<div ibmGrid>
	<div ibmRow class="summary">
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection"></div>
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
			<svg class="bx--btn__icon" ibmIcon="currency--dollar" size="24"></svg> Spend 49.8B
		</div>
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
			<svg class="bx--btn__icon" ibmIcon="shopping--cart" size="24"></svg> Supplier Counts 34,622
		</div>
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
			<svg class="bx--btn__icon" ibmIcon="layers" size="24"></svg> Invoice Count 1,154,100
		</div>
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
			<svg class="bx--btn__icon" ibmIcon="document" size="24"></svg> PO Count 1,595,304
		</div>
	</div>
	<div ibmRow>
		<div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
			<fb-table-filter
			[getFilterOptions]="getTableFilterOptions"
			(onUpdateFilter)="updateTableFilter($event)">
			</fb-table-filter>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 10, 'md': 10, 'sm': 3}" class="data-table">
			<ibm-table-container class="ibm-padding-bottom-r1 padding-top-none">
				<ibm-table-header class="left-right-align-table-header">
					<div>
						<h4 ibmTableHeaderTitle *ngIf="tableHeader.tableTitle">{{ tableHeader.tableTitle }}</h4>
						<p ibmTableHeaderDescription *ngIf="tableHeader.tableDescription">
							{{ tableHeader.tableDescription }}
						</p>
					</div>
				</ibm-table-header>
			
				<ibm-table-toolbar>
					<ibm-table-toolbar-content>
						<ibm-table-toolbar-search
							[tableSearch]="true"
							[expandable]="false"
							placeholder="Search"
							title="Search Table"
							[value]="searchValue"
							(clear)="clearSearchBar()"
							(valueChange)="tableSearch($event)">
						</ibm-table-toolbar-search>
						<button
							ibmButton="ghost"
							[iconOnly]="true"
							[hasAssistiveText]="true"
							[assistiveTextPlacement]="'top'"
							[assistiveTextAlignment]="'center'"
							(click)="onFeedbackModify()">
							<svg class="bx--btn__icon" ibmIcon="edit" size="32"></svg>
							<span class="bx--assistive-text">Modify Category</span>
						</button>
					</ibm-table-toolbar-content>
				</ibm-table-toolbar>
			<fb-carbon-table
				[tableHeader]="tableHeader"
				[carbonTableModel]="carbonTableModel"
				[numberOfColumns]="7"
				[showPagination]="true"
				(tablePagination)="tablePagination($event)"
				(tableSort)="tableSort($event)"
			></fb-carbon-table>
			</ibm-table-container>
		</div>
	</div>
</div>

<fb-modal-feedback-submit *ngIf="spendService.showFeedbackSubmit"></fb-modal-feedback-submit>


