
	<div class="horizontal-table-scroll">
		<ibm-table
			[model]="skeleton ? skeletonModel : carbonTableModel"
			[stickyHeader]="stickyHeader"
			[size]="'md'"
			[skeleton]="skeleton"
			[enableSingleSelect]="false"
			[showSelectionColumn]="showSelectionColumn"
			[striped]="striped"
			[sortable]="sortable"
			[isDataGrid]="isDataGrid"
			(sort)="sort($event)">
		</ibm-table>
	</div> <!-- End horizontal-table-scroll div -->
	<ibm-pagination *ngIf="showPagination==true" [model]="carbonTableModel" (selectPage)="selectPage($event)"></ibm-pagination>



