.horizontal-table-scroll {
	overflow-x: scroll;
}

.padding-top-none {
	padding-top: 0px !important;
}

.left-right-align-table-header {
	display: flex !important;
	justify-content: space-between;
}


