<ibm-table-container class="ibm-padding-bottom-r1 padding-top-none">
	<ibm-table-header *ngIf="hasTableHeader" class="left-right-align-table-header">
		<div>
			<h4 ibmTableHeaderTitle *ngIf="tableHeader.tableTitle">{{ tableHeader.tableTitle }}</h4>
			<p ibmTableHeaderDescription *ngIf="tableHeader.tableDescription">
				{{ tableHeader.tableDescription }}
			</p>
		</div>
	</ibm-table-header>

	<ibm-table-toolbar>
		<ibm-table-toolbar-content>
			<ibm-table-toolbar-search
				[tableSearch]="true"
				[expandable]="false"
				placeholder="Search"
				title="Search Table"
				[value]="searchValue"
				(clear)="clearSearchBar()"
				(valueChange)="search($event)">
			</ibm-table-toolbar-search>
			<button #trigger
				ibmButton="ghost"
				[iconOnly]="true"
				[hasAssistiveText]="true"
				[assistiveTextPlacement]="'top'"
				[assistiveTextAlignment]="'center'"
				(click)="changeCategory()">
				<svg class="bx--btn__icon" ibmIcon="edit" size="32"></svg>
				<span class="bx--assistive-text">Change Category</span>
			</button>
		</ibm-table-toolbar-content>
	</ibm-table-toolbar>
	<div class="horizontal-table-scroll">
		<ibm-table
			[model]="skeleton ? skeletonModel : carbonTableModel"
			[stickyHeader]="stickyHeader"
			[size]="'md'"
			[skeleton]="skeleton"
			[enableSingleSelect]="false"
			[showSelectionColumn]="showSelectionColumn"
			[striped]="striped"
			[sortable]="sortable"
			[isDataGrid]="isDataGrid"
			(sort)="sort($event)">
		</ibm-table>
	</div> <!-- End horizontal-table-scroll div -->
	<ibm-pagination *ngIf="showPagination==true" [model]="carbonTableModel" (selectPage)="selectPage($event)"></ibm-pagination>
</ibm-table-container>

<ibm-modal [open]="open" [trigger]="trigger" (overlaySelected)="open = false">
	<ibm-modal-header (closeSelect)="open = false" [showCloseButton]="true">
		<p class="bx--modal-header__label bx--type-delta"></p>
		<p class="bx--modal-header__heading bx--type-beta"></p>
	</ibm-modal-header>
	<section class="bx--modal-content">
		<div style="width: auto">
			<ibm-combo-box
					[disabled]="false"
					[invalid]="false"
					[size]="'md'"
					[invalidText]="''"
					[label]="'Select Client: '"
					[helperText]="''"
					[items]="clientOptions"
					[theme]="'light'"
					[type]="'single'"
					[placeholder]="'Type to filter category'"
					(selected)="onSelected('client')"
					(search)="onSearch($event)">
					<ibm-dropdown-list></ibm-dropdown-list>
			</ibm-combo-box>
			<ibm-combo-box
					[disabled]="categoryDisabled"
					[invalid]="false"
					[size]="'md'"
					[invalidText]="''"
					[label]="'Select Client Category: '"
					[helperText]="''"
					[items]="categoryOptions"
					[theme]="'light'"
					[type]="'single'"
					[placeholder]="'Type to filter UNSPSC codes'"
					(selected)="onSelected('category')"
					(search)="onSearch($event)">
					<ibm-dropdown-list></ibm-dropdown-list>
			</ibm-combo-box>
			<ibm-combo-box
					[disabled]="unspscDisabled"
					[invalid]="false"
					[size]="'md'"
					[invalidText]="''"
					[label]="'Select UNSPSC Codes: '"
					[helperText]="''"
					[items]="unspscOptions"
					[theme]="'light'"
					[type]="'single'"
					[placeholder]="'Type to filter UNSPSC codes'"
					(selected)="onSelected('unspsc')"
					(search)="onSearch($event)">
					<ibm-dropdown-list></ibm-dropdown-list>
			</ibm-combo-box>

			<!-- ibm-dropdown
				[label]="'Label 3'"
				[helperText]="'some help text'"
				[size]="'md'"
				[dropUp]="false"
				[invalid]="false"
				[invalidText]="'invalidText'"
				[warn]="false"
				[warnText]="'warnText'"
				[theme]="'dark'"
				placeholder="Select"
				[appendInline]="true"
				[disabled]="true">
				<ibm-dropdown-list [items]="[]"></ibm-dropdown-list>
			</ibm-dropdown -->
		</div>
	</section>
	<ibm-modal-footer>
		<ng-container>
			<button
				ibmButton="secondary"
				(click)="open = false"
				[attr.modal-primary-focus]="false">
				Cancel
			</button>
			<button
				ibmButton="primary"
				(click)="open = false"
				[attr.modal-primary-focus]="true">
				Submit Feedback
			</button>
		</ng-container>
	</ibm-modal-footer>

</ibm-modal>


