<div id="table-filter" class="table-filter">
	<div class="table-filter-top">
		<div class="add-filter">
			Add Filters
		</div>
		<div id="table-filter-add" class="add-filter-button">
			<ibm-overflow-menu
				[flip]="true"
				[customTrigger]="customTrigger">
				<ng-container *ngFor="let filterOption of getUnusedFilterOptions()">
					<ibm-overflow-menu-option
						[id]="'table-filter-options-' + filterOption.propName"
						(click)="handleSelectFilter(filterOption.propName)">
						{{filterOption.name}}
					</ibm-overflow-menu-option>
				</ng-container>
			</ibm-overflow-menu>
		</div>
	</div>

	<ng-template #customTrigger>
		<svg ibmIcon="add" size="20"></svg>
	</ng-template>

	<div class="table-filter-clear-all-container">
		<div
			id="table-filter-clear-all"
			*ngIf="tableFilters.length > 0"
			(click)="handleClearAllFilters()"
			class="link-clickable table-filter-clear-all">
			Clear All Filters
		</div>
	</div>

	<div
		[id]="'table-filter-filters-' + filter.propName"
		*ngFor="let filter of tableFilters"
		class="table-filter-filters">


		<ng-container *ngIf="filter.type === 'text'">
			<ibm-label [helperText]="'help msg goes here'">
				{{filter.name}}
				<input
					ibmText
					(ngModelChange)="changeValue($event)"
					name="tableFilterFieldText"
					[size]="'sm'"
					(keydown)="handleKeydown($event)">
			</ibm-label>
		</ng-container>

		<div
			id="table-filter-remove"
			(click)="handleClickRemove(filter.propName)"
			(keydown)="handlePressEnterOnRemove($event, filter.propName)"
			class="link-clickable remove-filter"
			tabindex="0">
			Remove Filter
		</div>
	</div>
	<div id="table-filter-update-filter-button" *ngIf="tableFilters.length > 0" class="table-filter-update">
		<button ibmButton="primary" (click)="handleFilterSubmit()">Update Filter</button>
	</div>
	<div id="table-filter-no-filters" *ngIf="tableFilters.length === 0" class="table-filter-no-filter">
		No filters have been added yet
	</div>
</div>
